* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@font-face{
  font-family: "sega";
  src: url("SEGA.TTF");
  font-weight: 700;
}
html{
  font-size: 62.5%;
  height: 100vh; 
  background: linear-gradient(90deg, #2d777b, #156d79, #006376, #005873, #004d6f, #00436a, #003763, #062c5a);

}
header, .card {
  display: flex;  
  flex-wrap: wrap;
}
header{
  width: 90%;
  flex-direction: column;
  justify-content: center;
}
input,
h1 {
  width: 20%;
  margin: 0% auto;
  padding: 1%;
  font-weight: 900;
}
h1 {
  font-family: sega, sans-serif;
  width: auto;
  font-size: 8rem;
  color: #55CBC5;
  display: block;
  letter-spacing: 0.3rem;
}
.div--chargement{
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #2d777b, #156d79, #006376, #005873, #004d6f, #00436a, #003763, #062c5a);
}
.class-chargement{
  position: absolute;
  left: 30%;
  top: 35%;
  color: #55CBC5;
  font-size: 8rem;
}
.input--recherche::placeholder {
  text-align: center;
}
.container--card{
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
}
.card{
  background-color: rgb(158,235,207);
  width: 20%;
  height: 22%;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 1% 0.5%;
  border-radius: 12px;
  font-size: 2rem;
  transform: scale(1);
  transition: transform 400ms;
}
.card:hover{
  transform: scale(1.08);
  color: #fff;
  background-color: #f368e0;
}
.img--avatar{
  width: 90%;
}
p{
  margin: 1% 0%;
}
.lien--card{
  text-transform:uppercase;
  width: 50%;
  margin: 0% auto;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-weight: 800;
  color: #fff;
}
.lien--card:hover{
  color: blue;
  border: 2px solid #fff;
  margin: 2% 0%;
}
.h2--robot{
  color: red!important;
}
@media all and ( max-device-width : 480px )
{
  header{
    width: 90%;
    justify-content: center;
  }
  h1{
    font-size: 2rem;
  }
  .container--card{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
  }
  .card{
    background-color: rgb(158,235,207);
    width: 45%;
    height: 22%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 1% 0.5%;
    border-radius: 12px;
    font-size: 2rem;
    scale: (1);
  }
  .card p{
    width: 90%;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin: 0% auto;
  }
}
.div--robot{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: aliceblue;
  text-align: left;
  font-size: 1.9rem;
}
.link--back{
  text-decoration: none;
  font-family: "sega";
  font-weight: 600;
  color: #55CBC5;
  padding: 0.4%;
  border: 2px solid #55CBC5;
}
.img--robot--C{
  width: 15%;

}